@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    padding:0%;
    box-sizing:border-box;
}
body{
    width: 100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background:#fbfbfb;
    font-family:'Roboto',sans-serif
}


/* box-shadow: 
  0 10px 15px -3px rgba(0, 0, 0, 0.1), 
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
This box-shadow property consists of two shadow effects:

The first shadow:

0 (horizontal offset): There is no horizontal offset.
10px (vertical offset): The shadow is 10 pixels below the element.
15px (blur radius): The shadow has a 15-pixel blur.
-3px (spread radius): The shadow extends 3 pixels inward.
rgba(0, 0, 0, 0.1) (color and opacity): The shadow is a semi-transparent black with a 0.1 opacity.
The second shadow:

0 (horizontal offset): There is no horizontal offset.
4px (vertical offset): The shadow is 4 pixels below the element.
6px (blur radius): The shadow has a 6-pixel blur.
-2px (spread radius): The shadow extends 2 pixels inward.
rgba(0, 0, 0, 0.05) (color and opacity): The shadow is a more transparent black with a 0.05 opacity. */
section.chat__section{
    width:800px;
    max-width:90%;
    background:#fff;
    box-shadow:0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);

}
.brand{
    padding:20px;
    background: #f1f1f1;
    display: flex;
    align-items:center;
}

.brand h1{
    text-transform:uppercase;
    font-size:20px;
    color:#444;
    margin-left:10px;
}

.message_area{
    height:500px;
    padding:16px;
    display:flex;
    flex-direction:column;
    /* column: It is used to display the flex items 
    in a column. 
    The items are displayed vertically. */
    overflow-y:auto;
    padding-top:40px;
}

textarea{
    width:100%;
    border:none;
    padding:20px;
    font-size:16px;
    outline:none;
    background:#fbfbfb;
}

.message{
    padding:20px;
    border-radius:7px;
    margin-bottom:40px;
    max-width:300px;
    position:relative;
    
/* The 'position: relative' CSS property is used to 
position an element relative to its normal position. */

}
.incoming{
    background: #3c3e63;
    color:#fff;
}
.outgoing{
    background:#c297e6;
    color:#010201;
    margin-left:auto;
}

.message h4{
position:absolute;
top:-20px;
left:0;
color:#333;
font-size:14px;

}